doctype html
html
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        style.
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
    body
        .container-fluid(style='font-family: Sans-serif;')
            .row
                .col-md-12(style='width: 100%;')
                    div(style='float:left;display: block; width: 90%; margin:1% 5%;')
                        h3(style='text-align: center;') M.K.D Educational Institute
                        h5(style='text-align: center;')
                            | Sitapur Road, Maholi, District Sitapur (U.P)
                            br
                            | Contact:+91-8130114719, Email: mkd.stp@gmail.com
                        hr
                        p(style='text-align: center;') Q1 - HALL TICKET
                    div(style='float:left;display: block; width: 92%; margin:2% 4%;')
                        .col-md-4(style='width: 35%; float: left; margin: 0px;')
                            div(style='text-transform: capitalize;')
                                div(style='')
                                    p
                                        b Roll No:
                                        |  1
                                    p
                                        b Student Name:
                                        |  Abhivendra Singh
                                    p
                                        b Father's Name:
                                        |  Mr A Singh
                                    p
                                        b DOB:
                                        |  23/12/1992
                        .col-md-4(style='width: 35%; float: left;')
                            div(style='text-transform: capitalize;')
                                div(style='padding-left: 10px;')
                                    p
                                        b Class:
                                        |  7B
                                    p
                                        b gender:
                                        |  Male
                                    p
                                        b Acedemic Year:
                                        |  2017-2018
                        .col-md-4(style='width: 30%; float: left;')
                            img.img-fluid(src='http://www.nicholscrowder.com.au/img/noprofile_lg.gif', style='max-width: 200px;height:150px; float: right;')
                    div(style='float:left;display: block; width: 90%; margin:2% 5%;')
                        table(style='width:100%')
                            tr
                                td
                                    b Date
                                td 10/01/2018
                                td 11/01/2018
                                td 12/01/2018
                                td 13/01/2018
                                td 14/01/2018
                                td 15/01/2018
                            tr
                                td
                                    b Timing
                                td 10:00 AM - 11:00 AM
                                td 10:00 AM - 11:00 AM
                                td 10:00 AM - 11:00 AM
                                td 10:00 AM - 11:00 AM
                                td 10:00 AM - 11:00 AM
                                td 10:00 AM - 11:00 AM
                            tr
                                td
                                    b Subject
                                td Hindi
                                td English
                                td Maths
                                td Science
                                td Social Science
                                td Sports
                    div(style='float:left;display: block; width: 90%; margin:1% 5%;')
                        div(style='float:left; width: 50%;')
                            p
                                b Printed By:
                        div(style='float:left; width: 50%;')
                            p(style='float: right;')
                                b Authorised Signatory
