doctype html
html
    head
        style.
            body {
                font-family: Sans-serif;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
    body
        div
            div(style='float:left;display: block; width: 90%; margin:0% 5%;')
                p(style='text-align: center;') PROGRESS REPORT
                h1(style='text-align: center;') M.K.D Educational Institute
                h4(style='text-align: center;')
                    | Sitapur Road, Maholi, District Sitapur (U.P)
                    br
                    | Contact:+91-8130114719, Email: mkd.stp@gmail.com
                hr
            div(style='float:left;display: block; width: 90%; margin:0% 5%;')
                div(style='float:left; width: 50%; display: block; line-height: 1.1;')
                    p
                        b Roll No:
                        |  1
                    p
                        b Student Name:
                        |  Stuti Mishra
                    p
                        b DOB:
                        |  23-12-1992
                div(style='float:left; width: 40%; display: block; line-height: 1.1;margin-left: 10%;')
                    p
                        b Publish Date:
                        |  23-12-1992
                    p
                        b Father's Name:
                        |  Mr. A S Parihar
                    p
                        b Mother's Name:
                        |  Mrs. A S Parihar
            div(style='float:left;display: block; width: 90%; margin:2% 5%;')
                table(style='width:100%')
                    tr
                        th Subject
                        th Maximum Marks
                        th Obtained Marks
                        th Division
                        th Remark
                    tr
                        td Hindi
                        td 100
                        td 78
                        td 1st Devision
                        td Excellent
                h3(style='text-align: center;')
                    | RESULT
                    table(style='width:100%')
                        tr
                            td
                                b Percentage:
                                |  78%
                            td
                                b Division:
                                |  1st Devision
                            td
                                b Result:
                                |  Passed
            div(style='float:left;display: block; width: 90%; margin:1% 5%;')
                div(style='float:left; width: 50%;')
                    p
                        b Result Published By:
                div(style='float:left; width: 50%;')
                    p(style='float: right;')
                        b Principal Signature
            div(style='float:left;display: block; width: 90%; margin:0px 5% 100px 5%;')
